@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Kanit", "Roboto";
}

body {
  background-color: #ffffff;
  /* padding-top: 90px; */
  margin: 0px;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 1000;
}

.greeting {
  height: 190px;
  font-family: "Kanit", "Roboto";
  font-weight: bold;
  font-size: 200px; 
  color: #333;
  white-space: nowrap;
  overflow: hidden;
}

.head-type{
  transform: translateY(-30%);
}

#content-under-type {
  max-width: 900px;
}

.logo {
  color: #ffffff;
  background-image: linear-gradient(to right, #241d1d, #882f42);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 20px;
  font-weight: bold;
  padding-left: 30px;
  text-align: left;
  margin: 0;
}

.up {
  font-size: 30px;
  text-align: left;
}

.down {
  margin-top: -10px;
  font-weight: 500;
}

.nav-button {
  margin: 20px;
  text-decoration: none;
  padding: 10px 20px;
  color: #241d1d;
}

.nav-button:hover {
  color: #796161;
  text-decoration: underline;
}

.nav-menu {
  margin-right: 50px;
  font-size: 20px;
  font-weight: 600;
}

.hamburger-menu {
  display: none;
  font-size: 30px;
  cursor: pointer;
  margin-right: 30px;
}

@media screen and (max-width: 850px) {
  .hamburger-menu {
    display: block;
  }
  .nav-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    right: 0;
    top: 90px;
    width: 100%;
    text-align: center;
  }
  .nav-button {
    display: block;
    margin: 10px 0;
    text-align: right;
  }
}

.parallax {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  position: relative;

  background-image: url('https://cdn.discordapp.com/attachments/886190966514520105/1202851747220037662/background1.png?ex=65cef5fc&is=65bc80fc&hm=58f372322275fa51371eda0d9e74af20e63ceb4bb5b1c400b08b32984014dece&');

  background-position: center;
  background-repeat: no-repeat;

  background-size: cover;
}

#typing-effect {
  font-family: "Kanit", "Roboto";
  font-weight: bold;
  width: min-content;
  font-size: 50px;
  color: #333;
  border-right: 2px solid #333;
  padding: 5px;
  margin: 10px;
  white-space: nowrap;
  overflow: hidden;
}

#image1 {
  background-image: url('css/background1.png');
}

#text {
  position: absolute;
  font-size: 5em;
}

.port-body{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.section-two{
  background-color: rgb(255, 255, 255);
  height: 100vh;
  background-image: url('https://cdn.discordapp.com/attachments/886190966514520105/1202854163055120434/Untitled-2.png?ex=65cef83c&is=65bc833c&hm=8c60cf58d08bda8b1f7ad1451c70b4ad450f6f52f08216ac87d1b123304e332c&');

  background-position: center;
  background-repeat: no-repeat;

  /*กำหนดให้รูปภาพแสดงผลเต็มพื้นที่การแสดงผล */
  background-size: cover;
}

.contact {
  background-color: #333;
  color: white;
  padding: 20px;
  /* height: 300px; */
}

.content {
  background-color: #333;
  color: white;
  padding: 50px 20px;
  text-align: center;
}

.text {
  /* combo relative with absolute */
  position: absolute;

  /* มันไม่กลางมันไปเยื้องขวาเลย translate */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-flex {
  display: flex;
  flex-direction: column;
}


/* card */
.card-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 250px;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 50%; 
  margin-bottom: 10px;
}

.card h2 {
  margin-top: 0;
}

.card a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border-radius: 4px;
  text-decoration: none;
}

.card a:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}
